<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' href='/images/icon.png'>
    <link rel="stylesheet" href="/css/global-style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h3 style="text-align: center;">
      The product list.
    </h3>
    <div class="shop_container">
      <% for(product of products) {%>
        <div class="shop_item-container">
          <img src="<%= product.img %>" alt="image not available" />
          <h4><%= product.title %></h4>
          <div>Price: <%= product.price %> ₹</div>
          <p><%= product.desc %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
